git+https://github.com/dbt-labs/dbt-core.git@dbt-constraints#egg=dbt-core&subdirectory=core
git+https://github.com/dbt-labs/dbt-core.git@dbt-constraints#egg=dbt-tests-adapter&subdirectory=tests/adapter
git+https://github.com/dbt-labs/dbt-core.git@dbt-constraints#egg=dbt-postgres&subdirectory=plugins/postgres
